/* Basic Style */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.aaa {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.logo {
  width: 100%;
}

.aaa .more_inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .aaa {
    text-align: center;
  }

}

.centered-main-page-element {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0px;
}

.task-list__item,
.centered-main-page-element__h3 {
  list-style: none;
}

.task-list__input,
.topSectionForAddingElementToList__input {
  outline: none;
}

.topSectionForAddingElementToList__add-button,
.task-list__delete-button,
.task-list__edit-button {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.topSectionForAddingElementToList__add-button:hover,
.task-list__delete-button:hover,
.task-list__edit-button:hover {
  color: #3a3A3a;
}

/* Heading */

.centered-main-page-element__h3,
.topSectionForAddingElementToList__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-list__input[type="text"],
.topSectionForAddingElementToList__input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-list__input[type="text"]:focus,
.topSectionForAddingElementToList__input[type="text"]:focus {
  color: #333;
}

/* New Task */

.topSectionForAddingElementToList__label {
  display: block;
  margin: 0 0 20px;
}

.topSectionForAddingElementToList__input {
  width: 318px;
}

/* Task list */

.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__item > * {
  vertical-align: middle;
}

.task-list__input[type="checkbox"] {
  margin: 0 10px;
}

.task-list__label_edit-mode,
.task-list__label_completed-tasks {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-list__input[type="text"],
.topSectionForAddingElementToList__input[type="text"] {
  width: 226px;
}

.task-list__delete-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-list__delete-image:hover {
  transform: rotateZ(0);
}

/* Completed */

.task-list__label_completed-tasks {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.task-list__item .task-list__input[type=text] {
  display: none;
}

.task-list__item_edit-mode .task-list__input[type=text] {
  display: inline-block;
  width: 224px;
}

.task-list__item_edit-mode .task-list__label_edit-mode {
  display: none;
}